.form {
    display: grid;
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }

  .loading {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
  }

  
  .input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }

  .element {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .input:focus {
    outline: none;
  }
  
  .button {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
  }

  .card-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .button:focus {
    outline: none;
  }
  
  .button:hover {
    background-color: rgba(0,0,0,0.85);
  }

  
  @media (min-width: 768px) {
    .form {
      grid-template-columns: auto 1fr auto;
      grid-gap: 1rem;
      align-items: center;
    }
  
    .input {
      margin-bottom: 0;
    }
  }